<div class="container">
  <div class="row">
    <% @organizations.each do |organization| %>
    <div class="col-md-6">


          <table class="table table-bordered">

            <thead>
              <tr>
                <th>協會名稱</th>

                <th>Photo</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to organization.name, organization_path(organization) %></td>
                
                <% if organization.organizationphoto.present? %>
                    <td><%= image_tag(organization.organizationphoto.image.thumb.url, class:"thumbnail") %></td>
                <% else %>
                    <td><%= image_tag("htpp://placehold.it/200x200&text=No Pic", class: "thumbnail") %></td>
                <% end %>

              </tr>

        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
