<div class="row">
  <% @seminars.each do |seminar| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <% if seminar.seminarphoto.present? %>
          <%= image_tag(seminar.seminarphoto.image.thumb.url, class:"thumbnail") %>
      <% else %>
          <%= image_tag("htpp://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
      <div class="caption">
        <h3><%= link_to seminar.name,seminar_path(seminar) %></h3>
        <br>
        <p>研討會舉辦時間：</p>
        <p> <%= seminar.date %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
